@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: "Roboto", sans-serif;
}

// Estas son las variables globales de colores
:root {
  --primary: #000000;
  --secondary: #6c757d;
  --light: #f8f9fa;
}
